<div class="container row">
  <h1>About</h1>
</div>
<hr />

<div class="about-container row container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>About Us</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi
      velit doloremque assumenda excepturi dicta ea nulla, consequatur cumque
      dolorem in necessitatibus fugit et, similique nemo. Fugiat architecto et
      assumenda!
    </p>
    <h3>How We Work</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi
      velit doloremque assumenda excepturi dicta ea nulla, consequatur cumque
      dolorem in necessitatibus fugit et, similique nemo. Fugiat architecto et
      assumenda!
    </p>
    <h3>Contact Us</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi
      velit doloremque assumenda excepturi dicta ea nulla, consequatur cumque
      dolorem in necessitatibus fugit et, similique nemo. Fugiat architecto et
      assumenda!
    </p>
    <h3>Privacy Policy</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi
      velit doloremque assumenda excepturi dicta ea nulla, consequatur cumque
      dolorem in necessitatibus fugit et, similique nemo. Fugiat architecto et
      assumenda!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque commodi
      velit doloremque assumenda excepturi dicta ea nulla, consequatur cumque
      dolorem in necessitatibus fugit et, similique nemo. Fugiat architecto et
      assumenda!
    </p>
  </div>
  <div class="col-md-1"></div>
</div>
