<div class="products">
 <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/imagesq=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/imagesq=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/images?
   <button>Add to Cart</button>q=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
  <div class="product">
  <mat-card>
   <p>iphone 10</p>
   <p>NGN <strong>45555</strong></p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxEjAwp5oNXrIHccpuly8xYPtkpWVQORmgc_SoI7d1-GAqXa4vFJOtLx0T679yzl6G274&usqp=CAU" alt="">
   <button>Add to Cart</button>
  </mat-card>
 </div>
</div>