.product>mat-card>img{
 object-fit: contain;
 height: 200px;
}

.product>mat-card>button{
 margin-top: 20px;
 background-color: #f0c14b;
 border: 1px solid;
 border-color: #a88134 #9c7843 #846a29;
}

.product>mat-card{
 //this is a test
 display: flex;
 width: 300px;
 min-height: 350px;
 margin: 20px;
 flex-direction: column;
 align-items: center;
}
.products{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}