<div class="container">
  <div class="row">
    <h1>Home</h1>
  </div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="carouselExampleIndicators" class="carousel slide col-md-12" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/93/832424/1.jpg?0101" alt="First Slide" class="image-fluid">
            <div class="carousel-caption">
              <h3>Large Variety of Coffee Products</h3>
              <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
            </div>
          </div>
                    <div class="carousel-item">
            <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/92/433627/1.jpg?1206" alt="Second Slide" class="d-block image-fluid">
            <div class="carousel-caption d-none d-md-block">
              <h3>Large Variety of Coffee Products</h3>
              <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
            </div>
          </div>
                    <div class="carousel-item">
            <img src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/32/794608/1.jpg?4584" alt="Third Slide" class="d-block image-fluid">
            <div class="carousel-caption d-none d-md-block">
              <h3>Large Variety of Coffee Products</h3>
              <button class="btn btn-primary" (click)="viewProducts()">View Products</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
